---
layout: default
---

<div class="home col-md-12 container">

  {% for post in site.posts %}    
    <div class="row">
      <div class="row col-md-2"> 
          <h4><span class="label label-warning"><span class="glyphicon glyphicon-cloud"></span> {{ post.date | date: "%b %-d, %Y" }}</span></h4>
      </div>    
      <div class="col-md-10 row-content">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" >{{ post.title }}</a>
      </div>
    </div>
  {% endfor %}
  <div class="row">
  <ul class="pager"> 
  {% if paginator.previous_page %}
  <li class="">
    {% if paginator.previous_page == 1 %}
    <a href="{{ site.BASE_PATH }}/"><span class="glyphicon glyphicon-hand-left"></span></a>
    {% else %}
    <a href="{{ site.BASE_PATH }}/{{ site.paginate_path | replace: ':num', paginator.previous_page }}">
    <span class="glyphicon glyphicon-hand-left"></span></a>
    {% endif %}
  </li>
  {% else %}
  <li class=" disabled">
    <a><span class="glyphicon glyphicon-hand-left"></span></a>
  </li>
  {% endif %}
  
  <li>
    <span class="page_number">{{ paginator.page }} / {{ paginator.total_pages }}</span>
  </li>

  {% if paginator.next_page %}
  <li class="">
    <a href="{{ site.BASE_PATH }}/{{ site.paginate_path | replace: ':num', paginator.next_page }}"><span class="glyphicon glyphicon-hand-right"></span></a>
  </li>
  {% else %}
  <li class="disabled">
    <a><span class="glyphicon glyphicon-hand-right"></span></a>        
  </li>
  {% endif %}
  </ul>
  </div>
</div>
