---
layout: default
---
<div class="post">

  <header class="post-header">
    <h4>{{ page.title }}</h4>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
  {{ content }}
  <div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
  </article>
  <div class="fb-comments" data-href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" data-width="600" data-numposts="10" data-colorscheme="light"></div>

  <!-- Hightlight -->
    <link rel="stylesheet" href="{{ "/libs/hlsnippet/jquery.snippet.css" | prepend: site.baseurl }}">
    <script src="{{ "/libs/hlsnippet/jquery.snippet.js" | prepend: site.baseurl }}"></script>
    <script>
    $(document).ready(function() {
      $('code').snippet("html");
    });
    </script>

</div>